@import "tailwindcss";
/* @import "fumadocs-ui/css/neutral.css"; */
@import "fumadocs-ui/css/emerald.css";
/* @import "fumadocs-ui/css/emerald.css"; */
/* @import "fumadocs-ui/css/catppuccin.css"; */
/* @import "fumadocs-ui/css/black.css"; */
@import "fumadocs-ui/css/preset.css";
@import "fumadocs-twoslash/twoslash.css";
