@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "../tailwind.config.js";

@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@source '../node_modules/fumadocs-ui/dist/**/*.js';
@source '../node_modules/fumadocs-openapi/dist/**/*.js';

@plugin 'tailwindcss-animate';

/* .blog {
  @media (width < 50rem) {
    .max-xl\:hidden {
      display: none;
    }
  }
} */

/* line numbers for code block */

code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, 0.4);
}

/* docs autonumbering, ... */

body {
  /*line-height: 1.65;*/
  counter-reset: h2;
  /* counter-reset: h3counter;
     counter-reset: h4counter;
     counter-reset: h5counter;
     */
}

.nocount:before {
  content: none;
  counter-increment: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /*margin: 2em 0 1.67em;*/
  line-height: 1.2;
}

article h1 {
  counter-reset: h2 0;
}
article h2 {
  counter-reset: h3 0;
}
article h3 {
  counter-reset: h4 0;
}
article h4 {
  counter-reset: h5 0;
}
article h5 {
  counter-reset: h6 0;
}

article h1:before {
  counter-increment: h2;
}

article h2:before {
  counter-increment: h2;
  content: counter(h2) ". ";
}
article h3:before {
  counter-increment: h3;
  content: counter(h2) "." counter(h3) ". ";
}
article h4:before {
  counter-increment: h4;
  content: counter(h2) "." counter(h3) "." counter(h4) ". ";
}
article h5:before {
  counter-increment: h5;
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". ";
}
article h6:before {
  counter-increment: h6;
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "."
    counter(h6) ". ";
}

article h2.nocount:before,
article h3.nocount:before,
article h4.nocount:before,
article h5.nocount:before,
article h6.nocount:before {
  content: "";
  counter-increment: none;
}

/* [data-radix-scroll-area-viewport] */

/* blog pager */

.pagination {
  display: flex;
  list-style: none;
  height: 1.5em;
  border: 1px solid black;
  border-radius: 5px;
  width: fit-content;
  align-items: center;
  padding: 0;
  margin-top: 0.5em;
}

.pagination li a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  cursor: pointer;
}
.pagination li a:hover {
  text-decoration: underline;
}

.pagination li.active a {
  font-weight: bold;
  text-decoration: solid;
  pointer-events: none;
  @apply bg-sky-500 text-zinc-500;
}
.pagination li .disabled a {
  @apply text-gray-500;
}
